<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name), class:"btn btn-secondary rounded" do %>
    <% if controller_name != 'registrations'%>
      <span>Se Connecter</span>
    <% else %>
      <span>Retour</span>
    <% end %>
  <% end %><br />
<% end %>

<div class= "border-bottom row justify-content-center">
  <div class="col">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Mot passe oublié?", new_password_path(resource_name) %><br />
    <% end %>
  </div>
</div>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Créer un compte", new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' && controller_name != 'registrations'%>
  <%= link_to "Tu n'as pas reçu de mail de confirmation?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to  omniauth_authorize_path(resource_name, provider), data: { turbo: false },class: "btn border" do%>
      <span style="color: rgb(200,0,15)"><i class="fa fa-google"></i> Sign in with Google</span>
    <% end %><br />
  <% end %>
<% end %>
